

<%= render 'shared/header' %>

<div class="list-container">
  <% @articles.each do |article| %>
    <tr>
      <%= render 'shared/list_item', article: article %>
    </tr>
  <% end %>
  
</div>

<%= render 'shared/side_bar' %>

<%= render 'shared/footer' %>





