<% @title = '' %>

<%= render 'shared/header' %>

<div class="left-container">
  <% @articles.each do |article| %>
      <%= render 'shared/list_item', article: article %>
  <% end %>
  
</div>

<%= render 'shared/side_bar', tags: @tags, articles: @articles %>



<%= render 'shared/footer' %>





