<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= @article.tag.map {|c| c.name}.join(', ') %>
 
<%= link_to 'Back', articles_path %>