
<div class="resume-left">
    <h2>Work Experience</h2>
    <div class="h2-separator"></div>
    <ul class="clear">
      <li class="left">
        <%= image_tag '/experience/google.jpg' %>
        <div class="exp-info">
          <h3>Software Engineer in Google</h3>
          <span>Jan 2016 - present</span>
          <p>Working for data center software team automating new server turnups in Google's data center.</p>
        </div>

      </li>
      <li class="left">
        <%= image_tag '/experience/aws.png' %>
        <div class="exp-info">
          <h3>Software Engineer in Amazon Web Service</h3>
          <span>July 2015 - Jan 2016</span>
          <p>Worked for S3 Data Intelligence team. Building big data platform infrastructure for S3 team internal use.
            We plan to provide data intelligence product to our customers who store massive data in S3.</p>
        </div>

      </li>
      <li class="left">
        <%= image_tag '/experience/amazon.png' %>
        <div class="exp-info">
          <h3>Software Engineer Intern in Amazon.com</h3>
          <span>May 2014 - August 2014</span>
          <p>Worked in Risk Platform Service team. Developed a data visualization tool for machine learning model
            comparisons.
          </p>
        </div>

      </li>
    </ul>

  <h2>Education</h2>
  <div class="h2-separator"></div>
  <ul class="clear edu">
    <li>
      <h3>Carnegie Mellon University</h3>
      <span>M.S. Information Security <i>(2013 - 2015)</i></span>
    </li>
    <li>
      <h3>Tianjin University</h3>
      <span>B.S. Software Engineering  <i>(2008 - 2012)</i></span>
    </li>
  </ul>

    <h2>Patent</h2>
    <div class="h2-separator"></div>
    <p class="clear">Undergraduate work. Use visual analytics to find out malicious user in web access log.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tP9iXpYGdDc" frameborder="0" allowfullscreen></iframe>



</div>

<div class="skill right">
    <h2>Skills</h2>
    <div class="h2-separator"></div>
    <ul class="clear">
      <li>
        <h4>Java</h4>
        <div class="rate p-80" >80%</div>
      </li>
      <li>
        <h4>Hadoop</h4>
        <div class="rate p-80" >80%</div>
      </li>
      <li>
        <h4>Ruby on Rails</h4>
        <div class="rate p-75" >75%</div>
      </li>
      <li>
        <h4>Bash</h4>
        <div class="rate p-70" >70%</div>
      </li>
      <li>
        <h4>Python</h4>
        <div class="rate p-60" >60%</div>
      </li>
      <li>
        <h4>C/C++</h4>
        <div class="rate p-60" >60%</div>
      </li>
      <li>
        <h4>PHP</h4>
        <div class="rate p-50" >50%</div>
      </li>
      <li>
        <h4>Spark</h4>
        <div class="rate p-50" >50%</div>
      </li>
    </ul>

</div>