<div class="header">
	<div class="container">
		<%= image_tag 'logo.png' %>
		
		<nav class="right cl-effect-4">
			<a href="/"  class="selected">Home</a>
			<a href="#">Projects</a>
			<a href="#">Resume</a>
		</nav>

	</div>
</div>

<div class="container main" data-no-turbolink>