<div class="header">
	<%= image_tag 'logo.png' %>
	<div class="nav-bar">
		<ul>
			<li class="selected">
				<a href="#">Blog</a>
			</li>
			<li>
				<a href="#">Projects</a>
			</li>
			<li>
				<a href="#">Resume</a>
			</li>
		</ul>
	</div>
</div>

<div class="container">