<div class="header lazy" data-original="wooden-background.jpg">
	<%= image_tag "/avatar/avatar.jpg", :class => "avatar"%>
	<h1>Wenhan Lu</h1>
	<h2>@ AWS S3</h2>
	<p> CMU / Distributed System / Cloud / Hadoop </p>
	<div class="social">
		<a class="twitter" href="http://twitter.com/vince_lv" target="_blank">Twitter</a>
		<a class="linkedin" href="https://www.linkedin.com/in/wenhanl" target="_blank">LinkedIn</a>
		<a class="github" href="http://github.com/wenhanl" target="_blank">Github</a>
		<a class="email" href="mailto:lvwenhan417@gmail.com" target="_blank">Email me</a>
	</div>
</div>

<div class="nav">
<div class="container">
		
		<nav class="cl-effect-4">
			<a href="javascript:void(0)" class="tab-about">About</a>
			<a href="javascript:void(0)"  class="selected tab-blog">Blog</a>
			<a href="javascript:void(0)" class="tab-resume">Resume</a>
		</nav>

	</div>
</div>

<div class="container main" data-no-turbolink>