<div class="side-bar">
	<!-- <div class="intro">
		<%= image_tag "avatar_1.jpg" %>
		<p> This is a NB blog. </p>
	</div> -->

	<h2>TAGS</h2>
	<ul class="tag-cloud">
		<% tags.each do |t| %>
			<li>
				<%= link_to(t.name, controller: 'tags', action: 'show', id: t.id)  %>
			</li>
		<% end %>
		
	</ul>
	
</div>