<div class="side-bar">

	<h2>TAGS</h2>
	<ul class="tag-cloud">
		<% tags.each do |t| %>
			<li>
				<%= link_to(t.name, controller: 'tags', action: 'show', id: t.id)  %>
			</li>
		<% end %>
		
	</ul>
	
	<% if admin_signed_in? && articles %>
		<%= render 'shared/admin', articles: @articles %>
	<% end %>
</div>