

html,
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: "open sans";
	color: #555;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.right {
	float: right;
}

.left {
	float: left;
}



.container {
	margin: 0 auto;
	width: 80%;
}

h1 {
	color: #333;
}

p {
	color: #555;
}


/* Fonts*/


// Raleway
@font-face {
  font-family: 'raleway';
  src:   font-url('raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'raleway';
	src: font-url('raleway/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

// Open sans
@font-face {
	font-family: 'open sans';
	src: font-url('open-sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "open sans";
  src: font-url("open-sans/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

// Crete round
@font-face {
	font-family: 'crete round';
	src: font-url('crete-round/CreteRound-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

// PT sans
@font-face {
	font-family: 'pt sans';
	src: font-url('PT-Sans/PTS55F.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pt sans';
	src: font-url('PT-Sans/PTC75F.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

// roboto
@font-face {
	font-family: 'roboto';
	src: font-url('roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: font-url('roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

// oswald
@font-face {
	font-family: 'oswald';
	src: font-url('oswald/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswald';
	src: font-url('oswald/Oswald-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* Mixin */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}