/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require pure-min
 */

@import 'base';
@import 'articles';



// Header
.header {
	border-bottom: 2px solid #aaa;
	width: 100%;
	margin: 0;
	padding: 8px 0 12px 0;
	background-color: #fff;
	z-index: 999;

	.nav-bar {
		float: right;
	}

	ul {
		list-style: none;
		display: block;
		margin: 8px;
	}
	li {
		display: inline-block;
		padding: 2px 4px;
		margin-right: 18px;
		font-size: 16px;
		font-family: 'raleway', arial;
		font-weight: 700;
	}

	a {
		padding: 3px 2px;
		text-decoration: none;
		color: #444;
	}

	a:hover {
		border-bottom: 2px solid #D19E29;
	}

	.selected {
		border-bottom: 2px solid #D19E29;
	}
}

.container {
	margin: 0 auto;
	width: 80%;
}

.list-container {
	float: left;
	background-color: #fff;
	padding: 18px;
	margin: 0;
	margin-top: 25px;
	width: 65%;
}

.list-item {
	margin-bottom: 18px;

	.tags {
		color: #f00;
		list-style: none;
		padding-left: 0;

		li {
			line-height: 1.5;
			word-wrap: break-word;
			display: inline-block;			
			
			a {
				
				letter-spacing: 0.08em;
				margin: 0 10px 10px 0;
				padding: 0.25em 6px 0.25em 18px;
				background: url("meta-tags-odd.png") -10px 50% no-repeat #B6B8BA;
				color: #eee;
				font-weight: normal;
				text-decoration: none;
				@include border-radius(2px);
				font-family: "pt sans";
				font-size: 16px
			}

		}
	}

	.subtitle{
		margin: 8px 0;
		list-style: none;
		padding-left: 0;
		font-family: "pt sans";

		li {
			display: block;
			padding-left: 30px;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			color: #999;
			background: url("meta-date.png") 0 50% no-repeat;
		}
	}

	h2 {
		font-family: "crete round";
		font-style: bold;
		margin: 0
	}


	img {
		float: right;
		width: 200px;
		margin: 0 0 0.2em 1em;
	}
}

.side-bar {
	margin-top: 25px;
	float: right;
	width: 30%;
	
	h2 {
		letter-spacing: 2px;
		font-family: "bold raleway";
		font-size: 16px;
	}
}

.intro {
	background-color: #fff;
	padding: 8px;

	img {
		width: 100%;
		@include border-radius(200px);
		padding: 4px;
		border: 1px solid #aaa;

	}
}

.tag-cloud {
	li {
		display: inline-block;
		margin: 0 7px 10px 0;
	}

	a {
		background-color: #D19E29;
		padding: 2px 4px;
		color: #fff;
	}
}



