/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require hover
 *= require pure-min
 *= require highlight/monokai_sublime
 */

@import 'base';
@import 'header';


.main {
	margin-top: 0;
	position: relative;
	top: 70px;
	height: 700px;
}

.left-container {
	float: left;
	background-color: #fff;
	margin-top: 25px;
	width: 65%;

	h1 {
		margin-top: 5px;
		font-family: 'pt sans';
	}

    article {
      text-align: justify;
    }

    img {
    	display: block;
    	width: 90%;
    	margin: 18px auto;
    }

}

.list-item {
	margin-bottom: 18px;
	overflow: hidden;

	#cover-image li {
		display: inline-block;
		margin-right: 10px;
	}

	.tags {
		list-style: none;
		padding-left: 0;

		li {
			line-height: 1.5;
			word-wrap: break-word;
			display: inline-block;			
			
			a {
				
				letter-spacing: 0.08em;
				margin: 0 10px 10px 0;
				padding: 0.25em 6px 0.25em 18px;
				background: url("meta-tags-odd.png") -10px 50% no-repeat #B6B8BA;
				color: #eee;
				font-weight: normal;
				text-decoration: none;
				@include border-radius(2px);
				font-family: "pt sans";
				font-size: 16px
			}

		}
	}

	.subtitle{
		margin: 8px 0;
		list-style: none;
		padding-left: 0;
		font-family: "pt sans";

		li {
			display: block;
			padding-left: 30px;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			color: #999;
			background: url("meta-date.png") 0 50% no-repeat;
		}
	}

	h2 {
		font-family: "crete round";
		font-style: bold;
		margin: 0
	}


	img {
		float: right;
		width: 200px;
		margin: 0 0 0.2em 1em;
	}

	section {
		margin: 10px 0;
	}

	p {
		margin: 8px 0;
	}
}

.side-bar {
	margin-top: 35px;
	float: right;
	width: 30%;
	
	h2 {
		letter-spacing: 2px;
		font-family: "raleway";
		font-weight: bold;
		font-size: 16px;
	}

  .intro {
    background-color: #fff;
    padding: 0;
    margin-bottom: 30px;

    section {
    	margin-top: 40px;

    }

    p {
    	margin: 6px 0;
    	text-align: center;
    }

    .background {
    	width: 100%;
    	height: 140px;
    	background-image: url(/images/back.jpg);
    	background-size: 100% 100%;
    	//border: 3px #ccc solid;
    }



    // .avatar-container {
    // 	position: relative;
    // 	top: -100px;
    // 	margin: 5px auto;
    // 	@include border-radius(200px);
    // 	background-color: #fff;
    // 	width: 108px;
    // 	height: 108px;
    // 	border: 1px solid #aaa;
    // }
    // img {
    // 	position: absolute;
    // 	top:0;
    // 	bottom:0;
    // 	left: 0;
    // 	right: 0;
    // 	margin: auto;
    //   	width: 100px;
    //   	@include border-radius(200px);
      	
    // }

    img {
    	display: block;
    	margin: auto;
	    position: relative;
	    width: 120px;
	    top: 40px;

	    // -webkit-border-radius: 50%;
	    // -moz-border-radius: 50%;
	    // border-radius: 50%;

	    @include border-radius(50%);

	    -webkit-box-shadow: 0 0 0 4px #fff, 0 0 0 5px #999, 0 2px 5px 4px rgba(0,0,0,.2);
	    -moz-box-shadow: 0 0 0 4px #fff, 0 0 0 5px #999, 0 2px 5px 4px rgba(0,0,0,.2);
	    box-shadow: 0 0 0 4px #fff, 0 0 0 5px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    }
  }

  .tag-cloud {
    li {
      display: inline-block;
      margin: 0 5px 10px 0;
    }

    a {
      background-color: #D19E29;
      padding: 2px 8px;
      color: #fff;
      border: 2px solid #fff;
      -webkit-transition: width 1s, height 1s, border-color 0.5s, background-color 1s;
      -moz-transition: width 1s, height 1s, border-color 0.5s, background 1s;
      transition: width 1s, height 1s, border-color 0.5s, background-color 1s;
    }

    a:hover {
    	//background-color: #F28022;
    	border: 2px solid #888;
    }
  }

  .side-box {
    border: solid 5px #ccc;
    padding: 10px 10px 20px 25px;
    margin-bottom: 20px;

    hr {
      height: 3px;
      border: 0;
      background-color: #D19E29;
      color: #D19E29;
      width: 50px;
      text-align: left;
      margin-left: 0;
      margin-bottom: 15px;

    }
  }
}

@import 'article_view';

